network:
  version: 2
  ethernets:
    eth0:
      addresses:
        - {{ tenant.network.ipv4 }}
      routes:
        - to: default
          via: {{ tenant_network_gateway_ipv4 }}
      nameservers:
        addresses:
          - {{ tenant_network_gateway_ipv4 }}
